.t-a-b {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.t-a-b, .t-a-b * {
  box-sizing: border-box;
}
.t-a-b .add-wrapper {
  position: absolute;
  top: 0;
  left: calc(100% - 31px);
  width: 31px;
  height: 31px;
  background: #eeeeee;
  transition: background ease 0.3s;
}

/* .t-a-b .add-wrapper>.icon {
 display: flex;
 align-items: center;

} */
.t-a-b .add-wrapper>.newtab:hover {
  opacity: 0.7;
}

.t-a-b .tab-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 31px;
  padding-left: 15px;
}
.t-a-b .tab-wrapper.with-add {
  width: calc(100% - 31px);
}
.t-a-b .tab-wrapper .tab-button {
  position: absolute;
  height: 31px; /* ????? 27*/
  user-select: none;
}
.t-a-b .tab-wrapper .tab-button:hover {
  cursor: default;
}
.t-a-b .tab-wrapper .tab-button:not(.active):hover .tab {
  background: #fbfbfb;
  /* border-bottom: 1px solid #afafaf; */
}

.t-a-b .tab-wrapper .tab-button.active {
  z-index: 999 !important;
}
.t-a-b .tab-wrapper .tab-button.active .tab {
  background: #fff;
  border-width: 0 0 1px 0 ;
  border-style: solid;
  border-color: #646464;
}


.t-a-b .tab-wrapper .tab {
  position: absolute;
  left: 0;
  /* top: -4px; */
  width: calc(100%);
  height: 31px;
  display: inline-block;
  vertical-align: top;
  /* margin-top: 4px;
  padding: 0 30px; */
  background: #eeeeee;
  z-index: 0;
  transition: background ease 0.3s;
  user-select: none;
}
.t-a-b .tab-wrapper .text {
  position: absolute;
  left: 15px;
  top: 8px;
  z-index: 999;
  font-size: 14px;
  color: #646464;
  font-family: 'Roboto', sans-serif;
  width: calc(100% - 30px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.t-a-b .tab-wrapper .text.with-close {
  width: calc(100% - 45px);
}
.t-a-b .tab-wrapper .text > * {
  position: relative;
  vertical-align: top;
}


.t-a-b .tab-wrapper .close {
  position: absolute;
  left: calc(100% - 30px);
  top: 8px;
  width: 15px;
  height: 15px;
  /* border-radius: 50%; */
}
.t-a-b .tab-wrapper .close:hover {
  /* background: #EB5528; */
  opacity: 0.7;

}




.t-a-b .content-wrapper {
  position: absolute;
  top: 35px;
  right: 0;
  width: 100%;
  height: calc(100vh - 35px);
  z-index: 998;
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid green;

}
.t-a-b .content-wrapper .content {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: black;
}
.t-a-b .content-wrapper .content.active {
  display: flex;
  z-index: 1;

}